h2 Register a new company
//- label(for='Username') Username: 
//- input(ng-model='form.Username', name='Username')
//- br
label(for='Name') Name: 
input(ng-model='form.Name', name='Name')
p Description:
textarea(ng-model='form.Description', cols='50', rows='15')
p
  button(ng-click='submit()') Add Company
