h2 Login for existing users
 
label(for='Username') Username:
input(ng-model='form.Username', name='Username')
br
label(for='Password') Password:
input(ng-model='form.Password',name='Password')
br
label(for='Email') Email:
input(ng-model='form.Email',name='Email')
p
	button(ng-click='submitPost()')  