h3(ng-show='user.UserId') Hello, {{user.Username}}. 
	a(href='' ng-click='logout()') Log out.
div(ng-hide='user.UserId' align="center") 
	h2 Welcome to 
		span(style="font-weight: bold; color: steelblue;") Firesearch 
		span !
	p(style='color: gray;') To begin your trip there:
	a(href='/loginpage')
		button(type="button" class="btn btn-primary" ) Login
	|  or  
	a(href='/signup')
		button( type="button" class="btn btn-info" ) Signup
	br
	br
	br
	br
	br
	br

br
a(id='top')
div(ng-show='user.UserId')
	p There are {{comps.length}} companies.
	ul
		div(ng-repeat='c in comps')
			li(ng-if='showcomp || $index < 10')
				span {{c.Name}} (id: {{c.CompanyId}}) 
				a(href='/readComp/{{c.CompanyId}}') More
	div
		a(href='' ng-click='showcompfn(true)' ng-hide='showcomp') Show More
		a(href='' ng-click='showcompfn(false)' ng-show='showcomp') Hide
	br
	br
	p There are {{stocks.length}} stocks.
	ul
		div(ng-repeat='s in stocks')
			li(ng-if='showstock || $index < 10')
				div {{s.Name}} - {{s.TransCode}}
				div Total Shares: {{s.TotalVolume}} Div&Yield: {{s.DivYield}}
				div
					span Season1: {{s.Season1}} 
					span Season2: {{s.Season2}} 
					span Season3: {{s.Season3}} 
					span Season4: {{s.Season4}}
				div
					a(href='/readStock/{{s.StockId}}') More
	div
		a(href='' ng-click='showstockfn(true)' ng-hide='showstock') Show More
		a(href='' ng-click='showstockfn(false)' ng-show='showstock') Hide

hr
div(align='right')
	p(style="color:gray") @2015 Firesearch