p There are {{comps.length}} companies. Here are the first 10 results.
ul
  li(ng-repeat='c in comps | limitTo: 10')
      span {{c.Name}} (id: {{c.CompanyId}}) 
      a(href='/readComp/{{c.CompanyId}}') More
p There are {{stocks.length}} stocks. Here are the first 10 results.
div(ng-repeat='s in stocks | limitTo: 10')
  h3 {{s.Name}} - {{s.TransCode}}
  div Volume: {{s.Volume}} Div&Yield: {{s.DivYield}}
  span Season1: {{s.Season1}} 
  span Season2: {{s.Season2}} 
  span Season3: {{s.Season3}} 
  span Season4: {{s.Season4}}
  br
  //h4 Description
  //div {{s.Description}}
  a(href='/readStock/{{s.id}}') More