h2 Welcome to FireSearch! Log In here!
 
label(for='username') Username
br
input(placeholder="username" id='inputUsername' ng-model='form.username', name='username')
span(ng-show='invalidinput' class='red')  cannot be empty
br
label(for='password') Password
br
input(placeholder="password" id='inputPassword' ng-keyup="$event.keyCode == 13 ? submitPost() : null" ng-model='form.password',name='password',type='password')
span(ng-show='invalidinput' class='red')  cannot be empty
br
br

p
	button(class='btn btn-primary' id='loginSubmit' ng-click='submitPost()') LogIn 

