h2 Welcome to FireSearch! Log In here!
 
label(for='Username') Username:
input(ng-model='form.Username', name='Username')
br
label(for='Password') Password:
input(ng-model='form.Password',name='Password')
br

p
	button(ng-click='submitPost()') LogIn 