h2 Welcome to FireSearch! Log In here!
 
label(for='username') Username:
input(ng-model='form.username', name='username')
br
label(for='password') Password:
input(ng-model='form.password',name='password')
br

p
	button(ng-click='submitPost()') LogIn 