block body
	div(ng-constroller="myPortCtrl")
		h2 Hi {{user.name}}! Welcome Back!	
		ul(class='nav nav-tabs')
			li(class = 'active')
				a(href='/myPort') My Portforlio
			li
				a(href='api/sellStock') Delete stocks
			li
				a(href='api/recommendStock') Recommend stocks

		div(ng-view)
	