h3(ng-show='user.UserId') Hello, {{user.Username}}! 
div(ng-show='user.UserId') Here are the stocks Firesearch recommends to you!
div(ng-hide='recommend.length || !user.UserId') We are still preparing data for you...
ul(ng-show='recommend.length')
	li(ng-repeat='r in recommend')
		span StockId: {{r.StockId}}		 
		span Transcode: {{r.TransCode}}		
		span CurrentPrice: {{wrapFloat(r.CurrentPrice)}}		
		a(href='/readStock/{{r.StockId}}') More		

div(ng-hide='user.UserId') 
	span Please 
	a(href='/loginpage') login 
	span to see recommended stocks for you!