div(ng-hide='user.UserId') 
	span Please 
	a(href='/loginpage') login 
	span to search stocks
div(ng-show='user.UserId') 
	h3 Search an existing stock
	div TransCode: 
		input(ng-model='form.TransCode')
	div VolumeLow:
		input(ng-model='form.VolumeLow')
	div VolumeHigh:
		input(ng-model='form.VolumeHigh')
	div DivYieldLow:
		input(ng-model='form.DivYieldLow')
	div DivYieldHigh:
		input(ng-model='form.DivYieldHigh')
	button(class='btn btn-primary' ng-click='searchstock()') Search Stock

	div(ng-if="data.length>0") There are {{data.length}} results.
	div(ng-if="data.length==0") There is no corresponding result.

	div(ng-repeat='s in data')
		h3 {{s.TransCode}}
		div Volume: {{s.Volume}} Div&Yield: {{s.DivYield}}
		span Season1: {{s.Season1}} 
		span Season2: {{s.Season2}} 
		span Season3: {{s.Season3}} 
		span Season4: {{s.Season4}}
		br
		a(href='/readStock/{{s.StockId}}') More