h2 New to FireSearch? Sign Up!
 
div
	span Username:
	input(ng-model='form.username')
	span(ng-show='invalidusername' class='red') required information
div
	span Password:
	input(ng-model='form.password' type='password')
	span(ng-show='invalidpassword' class='red') required information
div
	span Again:
	input(ng-model='form.password2' type='password')
	span(ng-if='form.password != form.password2' class='red') password not match
div
	span Email:
	input(ng-model='form.email')
//- label(for='Option') Do you want to receive notification of your portfolio from firesearch?
//- span input(type='radio' ng-model='form.gender' value='female' name='female')
//- span input(type='radio ng-model='form.gender' value='male' name='male')

p
	button(ng-click='submit()') SignUp 