/* app css stylesheet */

/* css for line chart*/
body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*css for bar chart*/

.bchart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/*css for nav*/
.navbar-brand {
    font-weight: bold;
    color: #003d5f;
    position: relative;
    display: inline-block;
}


input {
  margin-bottom: 5px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.datapoint {
  color: #F00;
}

.red {
  color: #F00;
}

.dropdown-toggle {
  cursor: pointer;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}